
WindagoWebApplication/.vs/WindagoWebApplication/v17/.suo

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/WindagoWebApplication.AssemblyInfo.cs

*.cache

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/WindagoWebApplication.GeneratedMSBuildEditorConfig.editorconfig

WindagoWebApplication/WindagoWebApplication/obj/project.assets.json

WindagoWebApplication/WindagoWebApplication/obj/WindagoWebApplication.csproj.nuget.dgspec.json

WindagoWebApplication/WindagoWebApplication/obj/WindagoWebApplication.csproj.nuget.g.props

WindagoWebApplication/WindagoWebApplication/wwwroot/lib/jquery/LICENSE.txt

WindagoWebApplication/WindagoWebApplication/wwwroot/lib/jquery-validation/LICENSE.md

WindagoWebApplication/WindagoWebApplication/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt

*.v2

WindagoWebApplication/.vs/WindagoWebApplication/FileContentIndex/ba1c2665-9255-46b0-a199-2646e0b9f283.vsidx

WindagoWebApplication/.vs/WindagoWebApplication/FileContentIndex/read.lock

*.1

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/WindagoWebApplication.csproj.FileListAbsolute.txt

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/staticwebassets.build.json

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/staticwebassets.development.json

WindagoWebApplication/WindagoWebApplication/obj/staticwebassets.pack.sentinel

WindagoWebApplication/.vs/WindagoWebApplication/config/applicationhost.config

*.vsidx

WindagoWebApplication/WindagoWebApplication/bin/Debug/net6.0/WindagoWebApplication.deps.json

WindagoWebApplication/WindagoWebApplication/bin/Debug/net6.0/appsettings.Development.json

WindagoWebApplication/WindagoWebApplication/bin/Debug/net6.0/appsettings.json

WindagoWebApplication/WindagoWebApplication/bin/Debug/net6.0/WindagoWebApplication.dll

WindagoWebApplication/WindagoWebApplication/bin/Debug/net6.0/WindagoWebApplication.exe

WindagoWebApplication/WindagoWebApplication/bin/Debug/net6.0/WindagoWebApplication.pdb

WindagoWebApplication/WindagoWebApplication/bin/Debug/net6.0/WindagoWebApplication.runtimeconfig.json

WindagoWebApplication/WindagoWebApplication/bin/Debug/net6.0/WindagoWebApplication.staticwebassets.runtime.json

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/apphost.exe

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/project.razor.vs.json

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/ref/WindagoWebApplication.dll

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/refint/WindagoWebApplication.dll

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/WindagoWebApplication.csproj.BuildWithSkipAnalyzers

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/scopedcss/projectbundle/WindagoWebApplication.bundle.scp.css

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/scopedcss/bundle/WindagoWebApplication.styles.css

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/WindagoWebApplication.dll

WindagoWebApplication/WindagoWebApplication/obj/Debug/net6.0/WindagoWebApplication.pdb

*.dll
*.cache
*.sdf
*.opensdf
*.tlog
*.log
*.suo
*.user
*.exe
*.pdb
*.staticwebassets.*
*.runtimeconfig.json

# folders to ignore
WindagoWebApplication/WindagoWebApplication/obj/Release/
WindagoWebApplication/WindagoWebApplication/obj/Debug/
WindagoWebApplication/WindagoWebApplication/bin/
*.metadata.v*
*.projects.v7*
