/*SCSS variables*/
$blue: #0094ff;
$dark: #FFFFFF;
$borderW: 2px;

/*Style classes*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

body {
    background: #333;
    font-family: $openSans;
}

.menu-buttons {
    margin-top: 50px;
    text-align: center;
    border-radius: 30px;
}

/*Blob nested style*/
/*START*/
.blob-btn {
    $numOfBlobs: 4;
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $blue;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 30px;

    &:before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: $borderW solid $borderW;
        border-radius: 30px;
    }

    &:after {
        content: "";
        z-index: -2;
        position: absolute;
        left: $borderW*1.5;
        top: $borderW*1.5;
        width: 100%;
        height: 100%;
        transition: all 0.3s 0.2s;
        border-radius: 30px;
    }

    &:hover {
        color: $dark;
        border-radius: 30px;

        &:after {
            transition: all 0.3s;
            left: 0;
            top: 0;
            border-radius: 30px;
        }
    }

    &_inner {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background: #ffffff;
    }

    &_blobs {
        position: relative;
        display: block;
        height: 100%;
        filter: url('#goo');
    }

    &_blob {
        position: absolute;
        top: $borderW;
        width: 100% / $numOfBlobs;
        height: 100%;
        background: $blue;
        border-radius: 100%;
        transform: translate3d(0, 150%, 0) scale(1.7);
        transition: transform 0.45s;
        /*Keyframes*/
        @supports(filter: url(vectors.svg#goo)) {
            transform: translate3d(0, 150%, 0) scale(1.4);
        }

        @for $i from 1 to $numOfBlobs {
            &:nth-child(#{$i}) {
                left: ($i - 1) * (120% / $numOfBlobs);
                transition-delay: ($i - 1) * 0.08s;
            }
        }

        .blob-btn:hover & {
            transform: translateZ(0) scale(1.7);

            @supports(filter: url(vectors.svg#goo)) {
                transform: translateZ(0) scale(1.4);
            }
        }
    }
}
/*Blob nested style*/
/*END*/


@import "compass/css3";

.logo {
    width: 200px;
    height: 164px;
}

.kiwi {
    fill: #94d31b;
    // stroke: #909;
    // stroke-width: 10;
    // not sure which of these is correct
    // stroke-linejoin: butt | round | square;
    // stroke-linecap: butt | round | square;
    stroke-dasharray: 5, 5, 10;
    filter: url(#pictureFilter);
    mask: url(#f1);
    clip-path: url();
}

.kiwi:hover {
    fill: #ace63c;
}

.ground {
    fill: #787f6a;
}

.ground:hover {
    filter: url(#pictureFilter);
    fill: #896d3d;
}

body {
    padding: 20px;
}
