html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.button {
    border: solid;
    background: linear-gradient(silver, black);
    text-align: center;
    font-size: large;
    height: 20%;
    width: 15%;
    text-align: center;
    color: whitesmoke;
    border-radius: 10px;
    display: inline-block;
}

/*Button extensions*/
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button:hover span {
    color: deepskyblue;
}

.buttonContainer{
    display: inline-block;
    width: 100%;
}